<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>mcb-web-login</display-name>
  
  <!--** ZONA DE PARÁMETROS INICIALES DE CONFIGURACIÓN DE LA APLICACIÓN**-->
  <!--SE ESTABLECE EL IDIOMA (es ESPAÑOL en INGLES fr FRANCES)-->
  
  <context-param>
  	<description>establece el idioma incial en caso de que el usuario
  	 trabaje con alguno del que no 
  	posea traducción</description>
  	<param-name>idioma_por_defecto</param-name>
    <param-value>es</param-value>
  </context-param>
  
  
  <!--  SI QUISIERA PORNER OTRO IDIOMA:
  
  <context-param>
  	<description>establece el idioma incial en caso de que el usuario
  	 trabaje con alguno del que no 
  	posea traducción</description>
  	<param-name>segundo_idioma</param-name>
    <param-value>XX</param-value>
  </context-param>   -->
   
   
  <!-- ** FIN ZONA PARÁMETROS INICIALES DE CONFIGURACIÓN DE LA APP ** -->
  
  <!-- **** MECANISMO DE ARRANQUE DE LA APLICACIÓN **** -->
  
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>